<form action="" class="mt-5">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Qual é o seu nome?</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu nome aqui">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quantos anos tem?</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="18">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Com o que trabalha atualmente?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: vendedor de carros"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Se sente feliz onde está?</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Sim">
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Você mora com quem?</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Familia">
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">O que considerou mais importante para escolher a carreira em que está?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Escreva aqui!"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">O que mais te motiva no trabalho diariamente?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Escreva aqui!"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quando começou a trabalhar? Por qual motivo?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Comecei a trabalhar com 16 anos para ajudar os meus pais em casa"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quantos trabalhos já teve desde essa época?</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="3">        
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Qual trabalho mais gostou?</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Auxiliar de mecânico">
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Que tipo de profissional você se considera?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Me considero um profissional muito competente, proativo..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">O que você mais gosta no seu trabalho? Porque?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: No meu trabalho atual eu gosto de..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">O que você menos gosta no seu trabalho? Porque?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: No meu trabalho atual eu não gosto de..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quando você era criança, o que sonhava em trabalhar?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Quando eu era criança, meu sonho era ser astronauta"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Por qual motivo não seguiu essa carreira?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Ao longo do caminho..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Você teve apoio de alguem para seguir o seu sonho?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Meus pais me apoiavam"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Já pensou em trabalhar com outra coisa?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Já pensei em ir para área da TI"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Acha que seria capaz de trocar de carreira? Para qual?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Acho que me daria bem na área da TI, pois..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Qual carreira você acha que NÃO tem aptidão? Por quê?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Infelizmente nao me vejo trocando de carreira de..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Qual o pior tipo de emprego na sua opinião? Por quê?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Na minha opinião o pior tipo de emprego é..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Qual área mais te interessa nos dias de hoje? Por quê?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Área da progracao, pois..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tem medo de trocar de trabalho? Por qual motivo?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Sim, pois..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Já teve algum aconselhamento profissional?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Sim, do meu gestor, parentes, etc"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Como você imagina o seu mercado de trabalho nos próximos anos?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Me imagino..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quanto tempo estaria disposto a investir em algo novo para mudar de vida?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Estou disposto à..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quanto tempo na semana tem para descanso/estudo?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Na semana tenho 9 horas para estudo..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quais áreas você acha que está em ascensão nos dias de hoje?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Acredito que..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quais áreas você acha que está em ascensão nos dias de hoje?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Acredito que..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">O que acha da tecnologia no seu meio de trabalho?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Muito usado..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Se dá bem com a tecnologia no geral?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Sim ou Não"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Quando você estuda, o que mais te distrai?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Quando estudo, o que mais me distrai é o celular"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">O que mais te deixa motivado no geral a fazer algo?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Apoio da familia"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Qual conselho você daria para alguém que está começando?</label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Pesquise bem em qual trabalho escolher..."></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Qual conselho você se daria sobre trabalho se pudesse voltar no tempo </label>
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="Exemplo: Eu aconselharia a estudar mais sobre tecnologia"></textarea>
        <ul class="d-flex p-0">
            <li class="m-1"><i class="bi bi-emoji-smile-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-neutral-fill"></i></li>
            <li class="m-1"><i class="bi bi-emoji-frown-fill"></i></li>
        </ul>
    </div>
</form>

